<%= form_for(salesman) do |f| %>
  <% if salesman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salesman.errors.count, "error") %> prohibited this salesman from being saved:</h2>

      <ul>
      <% salesman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
