<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealership.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dealership.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @dealership.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @dealership.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @dealership.zip %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dealership.owner %>
</p>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %>
